body {
    font-family: Serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
}
